.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  row-gap: 21px;
  column-gap: 17px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 400px);
  max-width: 880px;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .elements {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 780px) {
  .elements {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 680px) {
  .elements {
    width: calc(100% - 50px);
    margin-top: 36px;
  }
}
